*~
*.bak
*.pyc
*.pyo
*.so
/kwant/*.c
/kwant/*/*.c
/tutorial
/build
/dist
/doc/build
/doc/source/reference/generated/
/doc/source/images/*.png
/doc/source/images/*.pdf
/doc/source/images/.*_flag
/doc/source/images/[a-zA-Z]*.py
/build.conf
/kwant.egg-info/
/MANIFEST.in
