*~
*.pyc
*.pyo
*.so
*.pyd
/kwant/*.c
/kwant/*/*.c
/build
/dist
/doc/build
/doc/source/reference/generated/
/doc/source/figure/*.pdf
/build.conf
/kwant.egg-info/
/MANIFEST.in
.cache/
.coverage
.eggs/
htmlcov/
.ipynb_checkpoints/
