# This file specifies the files to be included in the source distribution
# in addition to the default ones.

include MANIFEST.in
include INSTALL LICENSE TODO

# We explicitly include both pyx and c files, so that both are shipped in
# source tarballs independently of whether "setup.py sdist" is run with
# --no-cython or not.
recursive-include kwant *.pyx
recursive-include kwant *.pxd
recursive-include kwant *.c
recursive-include kwant *.h
recursive-include kwant test_*.py

recursive-include examples *.py
recursive-include tutorial *.py

include doc/other/*[a-zA-Z]
include doc/Makefile
recursive-include doc/source *.rst *.py *.svg
recursive-include doc/source/_static *[a-zA-Z]
recursive-include doc/templates *[a-zA-Z]
prune doc/source/reference/generated
recursive-include doc/sphinxext *.py *.txt *.in
