name: kwant-stable
channels:
    - conda-forge
dependencies:
    - python=3.5
    - numpy=1.11.0
    - scipy=0.17  # No minor version because conda-forge has no 0.17.0
    - tinyarray=1.2.0
    - sympy=0.7.6
    - matplotlib=1.5.1
    # Linear algebra libraraies
    - mumps
    - blas #=1.1 openblas
    - openblas #=0.2.20
    # Build toolchain
    - toolchain3
    - cython
    - libgfortran
    ## Dev Dependencies
    # Testing
    - pytest
    - pytest-cov
    - pytest-flakes
    - pytest-pep8
