name: kwant-stable
channels:
    - conda-forge
dependencies:
    - python=3.8
    - numpy=1.18
    - scipy=1.3
    - tinyarray=1.2.2
    - sympy=1.5.1
    - matplotlib-base=3.2.2
    - plotly=2.2.2
    - qsymm=1.2.6
    # Linear algebra libraries
    # Pin mumps due to switching int size in 5.5.1
    - mumps-seq=5.2.1
    - blas #=1.1 openblas
    - openblas #=0.2.20
    # Build toolchain
    - compilers
    - cython
    - libgfortran
    ## Dev Dependencies
    # Testing
    - pytest
    - pytest-cov
    - pytest-flakes
    - pytest-pep8
    # Documentation building
    - sphinx=2.4.4
    - numpydoc
    - requests
